
<% if type == :new %>
  <% action_url = users_url %>
  <% button_text = "Create User" %>
<% else %>
  <% action_url = user_url(user) %>
  <% button_text = "Update User" %>
<% end %>

<form action="<%=action_url%>" method="POST">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
    <label> Email: 
        <input type="text" name="user[email]" value=""> 
    </label>
    <br>
    <% if type == :new %>
    <label>  Password:

        <input type="password" name="user[password]" value="">
    </label>
    <% end %>
    <br>
    <input type="submit" value="<%= button_text %>">
</form>
