<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="settings">
				<i class="fa fa-bars"></i>
				<span>sections</span>
			</li>
			<li id="settings">
				<i class="fa fa-search"></i>
				<span>search</span>
			</li>
		</ul>
	</nav>
	<nav class="right-nav"> 
		<ul>
			<li class="sub_button">
				<button type="button">Subscribe</button>
			</li>
			<li class="login_button">
				<button type="button">Login</button>
			</li>
			<li id="settings">
				<i class="fa fa-cog"></i>
				<%= render partial: 'shared/gear_dropdown' %>
			</li>
		</ul>
	</nav>
</header>