
<header class="masthead">
    <nav class="language-nav">
        <ul>
            <li class="underline">
                <a href="#">CSS</a>
            </li>
            <li class="underline">
                <a href="#">HTML</a>
            </li>
            <li class="underline">
                <a href="#">Javascript</a>
            </li>
            <li class="underline">
                <a href="#">Ruby</a>
            </li>
        </ul>
    </nav>
    <br>

<h1 class ="logo"> <img src="assets/AA_Times_Logo.png" alt="aa_times_logo"></h1>
       
<br>
    <nav class="masthead-links">
        <ul>
            <li>
                Tuesday, October 18, 2016
            </li>
            <li class="underline">
                <a href="#">Today’s Paper</a>
            </li>
            <li class="underline">
                <a href="#">Video</a>
            </li>
            <li id="weather">
                <a href="#">77°F</a>
            </li>
            <li id="weather">
                <div>
                    <a href="#">AAO +100%</a>
                </div>
            </li>
        </ul>

    </nav>
</header>


