
<nav class="sections">
        <ul>
            <li id="section">
                <a href="#">Word</a>
            </li>
            <li id="section">
                <a href="#">San Fransisco</a>
            </li>
            <li id="section">
                <a href="#">Bootcamp Prep</a>
            </li>
            <li id="section">
                <a href="#">Jumpstart</a>
            </li>
            <li id="section">
                <a href="#">Online</a>
            </li>
            <li id="section">
                <a href="#">Marketing</a>
            </li>
            <li id="section">
                <a href="#">Sales</a>
            </li>
            <li id="section">
                <a href="#">TalentMatch</a>
            </li>
            <li id="section">
                <a href="#">Alumni</a>
            </li>
            <li class="underline">
                <a href="#">All</a>
            </li>
        </ul>

    </nav>